@media only screen and (max-width: 500px) {


body {
    background-color: #D3DED0;
    margin: 0;
}

nav {
    background-color: #686458;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    display: flex;
    width: 100%;
    position: fixed

  }
  
  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
  li {
    margin: 10px 15px;
    font-size: 1.5rem;
  
  }
  
  .fa-shopping-cart, .fa-bars {
    color: whitesmoke;
  }
  
  .main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-bottom: 10px; */
    width: 100%;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3DED0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  .checkOut, .add {
    border: none;
    background-color: #686458;
    color: whitesmoke;
    border-radius: 5px;
    
    
  }
  
  .checkOut {
    width: 80%;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  
  
  .cart div p {
    /* border-bottom: 1px solid rgb(77, 77, 77); */
    display: flex;
    
  }
  
  .subtotal, .tax, .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid #686458;
    
  }

  
  .total {
    margin-bottom: 15px;
  }
  
  .prices {
    width: 95%;
    margin-top: 20px;
    /* padding-left: 15px;
    padding-right: 15px; */
    background-color: whitesmoke;
    /* color: black */


  }
  
  
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Raleway', sans-serif;
    width: 100%; 
    background-color: whitesmoke;
    font-size: 2rem;
    padding-top: 20px;
    //added from Brendan
    font-size: 4rem;
    color: black;
}
  

.showcase {
  text-align: center;
  color: black;
  font-size: 2rem
}

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 15px;
    
  }
  
  
  
  select {
    font-family: 'Open Sans', sans-serif;      
    font-size: 1.25rem;
      margin: 10px;
      border: none;
      border-radius: 3px;

      
  }
  
  .add {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 2rem;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;

  }

  .priceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px; */
    
  }
  .descDiv {
    display: flex;
    
  }

  .itemDescription {
    font-size: 1.5rem;
    margin: 10px 15px;
  }

  .menuPrice {
    display: flex;
    margin: 10px 15px;
    font-size: 1.5rem;
    /* margin-right: 20px;
    height: 26px;
    border: 1px solid black; */

  }

  .cartItems {
    display: flex;
    /* height: 50px;
    border: 1px solid black;
    color: black */
    /* flex-direction: column; */


  }

  .itemLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    align-content: center;
    border: none;
  border-bottom: 1px solid #686458;
  }

.itemName {
  display: flex;
  flex-grow: 1;
  
}

.itemprice {
  display: flex;

}


  .cartItems {
    display: flex; 
    flex-direction: column;
    /* height: 50px;
    border: 1px solid black;
    color: black */

  }

.delete, .fa-times {
    border: none;
    background-color: whitesmoke;

}

.delete {
  background-color: whitesmoke;
  padding: 5px;
margin-right: 10px;
margin-top: 2px;
}
  

.aboutus, .contactus{
  text-align: center;
}

.title, .about, .contact{
  display: none
}


#ccbox {
  display: none; 
  width:100%; 
  background-color:#D3DED0; 
  position:fixed; 
  height:100%; 
  top:0; 
  left:0; 
}

.payment { 
    width:auto;
    height: auto;
	left:0%;
    position: fixed;
	margin-left:0px;
    top: 25%;
    background-color: #ffffff;
    padding: 60px;
    border: solid 5px #B8B3B3; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666; 
}


#receiptbox {
    display: none; 
    width:100%; 
    background-color:#D3DED0; 
    position:fixed; 
    height:100%; 
    top:0; 
    left:0; 
}

.receipt { 
    width:auto;
    height: auto;
	left:0%;
    position: fixed;
	margin-left:0px;
    top: 25%;
    background-color: #ffffff;
    padding: 60px;
    border: solid 5px #B8B3B3; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666;
}  

}


@media only screen and (min-width: 501px) {

  @import url('https://fonts.googleapis.com/css?family=PT+Sans');
  /*CSS Variable */
  
  body {
      font-family: 'Open Sans', 'Raleway', 'sans-serif';
      background-color: #D3DED0;
      margin: 0;
      color: #fff;
      line-height: 1.8;
    }
  
    img {
        width: 100%;
    }
  
    a {
        text-decoration: none;
        color: #ccc;
    }
    /* Section */
    .section {
        padding: 2rem 0;
    }
  
    .section-head {
        font-size: 2.5 rem;
        margin: 0;
    }
    
    .section h3 {
        font-size: 2rem;
  }
  /* Showcase */
  #showcase {
    margin: 0;
    padding: 0;
    background: url('../IMG/home.jpg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    text-align: right;
  }
  
  #showcase .container {
      margin-top: 25vh;
  }
  
  #showcase h1 {
      font-size: 4rem;
      margin-bottom: 0;
  }
  
  #showcase h2 {
      font-size:  2rem;
  }
  
  .container {
      max-width: 1180;
      text-align: center;
      margin: 0 auto;
      padding: 0 3rem;
  }
  
  .lead { 
      font-size: 1.3rem;
  }
  
  .text-center {
      text-align: center
  }
  /* Buttons */
  .btn {
      padding: 1rem;
      color: #fff;
      display: inline-block;
  }
  
  .btn-primary {
      background: var(--primary-color);
  }
  
  .btn-primary:hover {
      background: var(--primary-color-hover);
  }
  
  .btn-secondary {
      background: var(--secondary-color);
  }
  
  .btn-secondary:hover {
      background: var(--secondary-color-hover);
  }
  /* Text colors */
  .text-primary {
      color: var(--primary-color);
  }
  
  .text-secondary {
      color: var(--secondary-color);
  }
  
  .text-light {
      color: var(--light-color);
  }
  
  .bg-light {
      background: var(--light-color);
      color: #686458;
  }
  
  .mb {
      margin-bottom: 1rem;
  }
  
  .mt {
      margin-top: 1rem;
  }
    /* Navigation */
  nav {
    height: 50px;
    width: 100%;
    background-color: #686458;
    color: whitesmoke;
    position: fixed;
    }
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    text-align: center;
  }
  
   .cart {
    text-align: center;
    margin-right: 30px
   }
  
   .shop {
    float: right;
    margin-right: 30px;
   }
  
   #cart {
    width: 48px;
    height: 28px;
   }
  
  .menu {
    float: right;
  }
  
  .head {
  font-size: 3rem;
  color: black;
  }
  
  .aboutus {
    float: right;
    color: black;
   }
  
   .showcase {
    text-align: center
   } 
  
   .title {
    float: left;
    margin-left: 45%;
    margin-right: 0px;
   }
  
   .contactus{
     color: black;
   }
  
   .showcase {
     text-align: center
   }
  
   .about {
     float: right;
   }
  
   .contact { 
    float: right;
  }
  
   .fas.fa-shopping-cart {
     position: relative;
     right: 9px;
   }
  
    nav a {
    display: inline-block;
    background-color: #686458;
    color: whitesmoke;
    width: 69px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0 0 0;
    text-decoration: none;
    } 
    
    nav li:hover {
      background-color: #85827c; 
    }
    
    nav a#openup {
      display: none;
    }
  
  }/* Beverage Section */
  .prices div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    color: black
  }
  
  .priceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .menuPrice {
    display: flex;
    height: 26px;
  }
  
  select {
  font-family: 'Open Sans', sans-serif;      
  font-size: 1.25rem;
  margin: 10px;
  border: none;
  border-radius: 3px;
  }
  
  /* .add {
    display: flex;
    justify-content: center;
    width: 15%;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
  } */
  
  .checkOut, .add {
    border: none;
    background-color: #686458;
    color: whitesmoke;
    border-radius: 5px;
  } 
  
  .checkOut {
    width: 80%;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  
  .add {
  width: 80%;
  padding: 10px 10px;
  margin-top: 20px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  }